@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  background: #fff;
}

header{
  background: #fafafa;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;

  a{
    width: 25%;
    box-sizing: border-box;
    display: inline-block;
    margin-left: -3px;
    text-align: center;
    padding: 12px;

    &:hover{
      .fa-heart{
        color: red;
      }
    }

    .fa{
      color: #111111;
      font-size: 25px;
    }
  }
}

.container{
  background: #fafafa;
  padding-top: 50px;
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;

 .card{
   background: white;
   margin: 0 auto;
   width: 600px;
     border: 1px solid #ccc;
     border-radius: 3px;

    .card-header{
      padding: 15px;

      .profile-img{
        display: inline-block;
        background: grey;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: relative;
        top: 3px;
        margin-right: 5px;
      }
      .profile-info{
        display: inline-block;
        font-family: 'Open Sans', sans-serif;

        .profile-name{
          font-size: 14px;
          color: #111111;
          font-weight: 700;
        }

        .profile-loc{
          font-size: 12px;
          color: #111111;
        }
      }
      .post-time{
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        float: right;
        display: inline-block;
        top: 10px;
        position: relative;
      }
    }
   .post-content{
     img{
       width: 100%;
     }
   }

   .card-footer{
     box-sizing: border-box;
     padding: 15px;
     font-family: 'Open Sans', sans-serif;

     .post-likes{
       color: #dddddd;
       font-size: 12px;
       padding-bottom: 10px;
     }

     .post-body{
       p{
         font-size: 14px;
         margin: 0;
         padding: 0 0 5px 0;
       }

       .username{
         font-weight: 700;
       }
     }

     .post-comments{
       p{
         font-size: 14px;
         margin: 0;
         padding: 0 0 5px 0;
       }

       .username{
         font-weight: 700;
       }
     }

     hr{
       padding: 0;
     }

     .comment-form{
       padding-top: 15px;

       .fa{
         font-size: 24px;
       }

       .heart{
         display: inline-block;
         width: 7%;
         .fa{
           position: relative;
           top: 3px;
         }
       }

       .add-comment{
         display: inline-block;
         width: 70%;
         input{
           padding: 5px;
           width: 100%;
           border: 0 solid #ffffff;
         }
       }

       .more-options{
         display: inline-block;
         width: 7%;
         float: right;
         .fa{
           position: relative;
           top: 3px;
         }
       }
     }
   }
 }
}
